@mixin ct-btn {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: none;
  line-height: 14px;
  height: 24px;
  padding: 0 12px;
  font-family: "Segoe UI", Arial, sans-serif !important;
}

@mixin ct-btn-disabled {
	@include ct-btn;
	background-color: #e1e5eb;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #b3bac3 !important;
	cursor: not-allowed;
	outline: none;
}

/********************** Focus Outline Start ************************/

@mixin focusCommonOutline {
	box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
	-moz-box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
	-webkit-box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
}

@mixin focusDefaultOutline {
	outline: $focus-default-outline;
	@include focusCommonOutline();
}

@mixin focusAutoOutline {
	outline: $focus-auto-outline;
	@include focusCommonOutline();
}

@mixin focusDottedOutline {
	outline: $focus-dotted-outline;
	@include focusCommonOutline();
}

@mixin disableFocus {
	outline: none !important;
	//border: none !important;
	box-shadow: none !important;
}

/********************** Focus Outline End **************************/