@import '_variables';
@import '_mixin';

/************************ Button Start ************************/

/* Primary / Standard Blue */
.btn-primary,
.std-blue-btn {
	@include ct-btn;
	background-color: $primary-btn-bg;
	border: none;
	color: $white-color !important;
	
	&:hover {
		background-color: $primary-btn-bg-hover;
	}
	&:focus {
		@include focusDottedOutline();
	}
	&:active {
		background-color: $primary-btn-bg-pressed;
		border-radius: 2px;
		box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
		-moz-box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
		-webkit-box-shadow: 0 0 4px 0 $primary-btn-box-shadow;
		outline: none;
	}
	&:disabled {
		@include ct-btn-disabled;

		&:hover,
		&:focus,
		&:active {
			@include ct-btn-disabled;
		}
	}
}

/* Secondary / Standard White */
.std-white-btn {
	@include ct-btn;
	background-color: $secondary-btn-bg;
	border: 1px solid $secondary-btn-border;
	color: $secondary-btn-color;

	&:hover {
		background-color: $white-color;
		border: 1px solid $secondary-btn-border-hover;
	}
	&:focus {
		@include focusDefaultOutline();
	}
	&:active {
		background-color: $secondary-btn-bg-focus;
		box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		-moz-box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		-webkit-box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		outline: 1px solid $secondary-btn-border-hover;
	}
	&:disabled {
		@include ct-btn-disabled;

		&:hover,
		&:focus,
		&:active {
			@include ct-btn-disabled;
		}
	}
}

/* Tertiary */
.std-tertiary-btn {
	@include ct-btn;
	background-color: $tertiary-btn-bg;
	border: none;
	color: $tertiary-btn-color;
	font-size: 12px;
	text-align: left;
	margin: 0px;

	&:hover {
		background-color: $tertiary-btn-bg-hover;
	}
	&:focus {
		@include focusDefaultOutline();
	}
	&:active {
		background-color: $secondary-btn-bg-focus;
		box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		-moz-box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		-webkit-box-shadow: 0 0 4px 0 $secondory-btn-box-shadow;
		outline: none;
	}
	&:disabled {
		@include ct-btn-disabled;

		&:hover,
		&:focus,
		&:active {
			@include ct-btn-disabled;
		}
	}
}

/* Icon */
.notification-icon {
	background-color: $tertiary-btn-bg;
	border: 1px solid transparent;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	text-align: center;
	height: 24px;
	width: 24px;

	&:hover {
		background-color: $checkbox-bg-hover;
	}
	&:focus {
		border: 1px solid #3788E5;
		outline: none;
		@include focusCommonOutline();
	}
	&:active {
		background-color: $secondary-btn-bg-focus;
	}
	&.ui-state-disabled {
		pointer-events: none;

		&:hover,
		&:focus {
			background-color: $tertiary-btn-bg;
		}

		.fa-bell {
			color: $checkbox-disabled;

			.count-badge {
				background-color: $checkbox-disabled;
			}
		}
	}

	.fa-bell {
		color: $tertiary-btn-color;
		font-size: 13px;
		padding-top: 4px;
		vertical-align: top;

		.count-badge {
			position: absolute;
			height: 6px;
			width: 6px;
			background-color: $standard-error;
			border-radius: 50%;
			top: 3px;
    	left: 27px;
		}
	}
}

/************************ Button End **************************/

/*************** Form Control Validation Start ****************/

.text-error,
.errorClass,
.validationErrorClass {
	color: $standard-error !important;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 11px;
}

/*************** Form Control Validation End ******************/

/**************** Form Control Label Start ********************/

.form-control-label,
.text-box-label {
	border: none;
	color: $pure-black-color;
	display: block;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;

	&[for] {
		cursor: pointer;
	}
}

/**************** Form Control Label End **********************/

/************** Form Control Input Textbox Start **************/

input[type="text"] {
	&.form-control,
	&.ip-box-css,
	&.ui-inputtext {
		background-color: $text-box-bg;
		border: 1px solid $text-box-border;
		border-radius: 0px;
		color: $text-box-color;
		font-family: "Segoe UI", Arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		line-height: normal;
		height: 32px;
		opacity: 1;
		overflow: hidden;
		padding: 0px 8px 0px 6px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			border: 1px solid $text-box-border-highlighted !important;
		}
		&:focus {
			@include focusDefaultOutline();
		}
		&[readonly],
		&:disabled {
			background-color: $text-box-bg-disabled;
			color: $text-box-color;
			@include disableFocus();
		}
		&.ng-dirty {
			&.ng-invalid {
				border: 1px solid $standard-error !important;
			}
		}
		&.ng-invalid {
			border: 1px solid $standard-error !important;
		}
	}
}

/************** Form Control Input Textbox End ****************/

/**************** Form Control Textarea Start *****************/

textarea {
	&.form-control,
	&.ip-box-css,
	&.ui-inputtextarea-comment,
	&.ui-inputtext {
		background-color: $text-box-bg;
		border: 1px solid $text-box-border;
		border-radius: 0px;
		color: $text-box-color;
		font-family: "Segoe UI", Arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		opacity: 1;
		padding: 6px 8px 6px 6px;
		resize: none;
		width: 100%;

		&:hover,
		&:enabled:hover {
			border: 1px solid $text-box-border-highlighted;
		}
		&:focus {
			border: 1px solid $text-box-border;
			@include focusDefaultOutline();
		}
		&[readonly],
		&:disabled {
			border: 1px solid $text-box-bg-disabled;
			background-color: $text-box-bg-disabled;
			color: $text-box-color;
			outline: none !important;
			box-shadow: none !important;
		}
		&.ng-dirty {
			&.ng-invalid {
				border: 1px solid $standard-error !important;
			}
		}
		&.ng-invalid,
		&.error {
			border: 1px solid $standard-error !important;
		}

		// ct-template-19894 - Added for IE Compatibility
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: 405px;
		}
	}
}

/****************** Form Control Textarea End *****************/

/********** Form Control Checkbox/Radio Common Start **********/

.control-stack {
	.control--checkbox {
		display: block;
	}
	.control--radio {
		display: block;
		margin-bottom: 8px;

		.control__indicator-radio {
			margin-top: 4px;
		}
	}
}

.control {
	display: inline-block;
	font-size: 13px;
	position: relative;
	margin-right: 10px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/*********** Form Control Checkbox/Radio Common End ***********/

/***************** Form Control Checkbox Start ****************/

.control__indicator {
	background: none;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	height: 14px;
	left: 0;
	margin-top: 4px;
	position: absolute;
	width: 14px;
}

/* Hover state */
.control:hover input~.control__indicator {
	background: $white-color;
	border: 1px solid $checkbox-checked-bg;
	cursor: pointer;
}

/* Focus state */
.control input:focus~.control__indicator {
	@include focusDefaultOutline();
}

/* Checked state */
.control input:checked~.control__indicator {
	background: $checkbox-checked-bg;
	border: 1px solid $light-blue-color;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked~.control__indicator {
	border: 1px solid $sky-blue;
	cursor: pointer;
}

.control input:checked:focus~.control__indicator {
	@include focusDefaultOutline();
}

/* Disabled state */
.control input:disabled~.control__indicator {
	background: $checkbox-disabled;
	border: none;
	cursor: default;
	opacity: 1;
	pointer-events: none;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked~.control__indicator:after {
	display: block;
}

.control:hover input:checked~.control__indicator:after {
	border-color: $checkbox-bg-hover;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 0px;
	left: 4px;
	width: 5px;
	height: 9px;
	transform: rotate(45deg);
	border: 1px solid $white-color;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled~.control__indicator:after {
	border-color: $white-color;
	top: 1px;
}

.control--checkbox span {
	cursor: pointer;
	display: block;
	font-family: "Segoe UI", Arial, sans-serif;
	margin-left: 20px;
}

.control--checkbox input:disabled~span {
	cursor: default;
}

/***************** Form Control Checkbox End ******************/

/***************** Form Control Radio Start *******************/

.control__indicator-radio {
	position: absolute;
	top: 0;
	left: -15px;
	width: 13px;
	height: 13px;
	background: none;
	border: 1px solid $ui-radio-unchecked;
	border-radius: 50%;
}

/* Hover state */
.control:hover input~.control__indicator-radio {
	background: $white-color;
	border: 1px solid $checkbox-checked-bg;
	cursor: pointer;
}

/* Focus state */
.control input:focus~.control__indicator-radio {
	box-shadow: 0px 0px 0px 1px $checkbox-checked-bg;
}

/* Checked state */
.control input:checked~.control__indicator-radio {
	background: $ui-radio-checked;
	border: 1px solid $light-blue-color;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked~.control__indicator-radio {
	border: 1px solid $ui-radio-checked;
}

.control input:checked:focus~.control__indicator-radio {
	box-shadow: 0px 0px 0px 1px $checkbox-checked-bg;
}

/* Disabled state */
.control input:disabled~.control__indicator-radio {
	pointer-events: none;
	opacity: 1;
	background: $standard-subfooter-background;
	border: 1px solid $ui-radio-disabled;
}

/* radio checked mark */
.control__indicator-radio:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show radio selected */
.control input:checked~.control__indicator-radio:after {
	display: block;
}

.control:hover input:checked~.control__indicator-radio:after {
	border-color: $checkbox-bg-hover;
}

/* Label Spacing */
.control--radio {
	margin: 0 15px;
	vertical-align: middle;
}

/* Radio tick */
.control--radio .control__indicator-radio:after {
	top: 3px;
	left: 3px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #ffffff;
}

/* Disabled tick colour */
.control--radio input:disabled~.control__indicator-radio:after {
	border-color: $ui-radio-disabled;
}

.control--radio span {
	cursor: pointer;
	display: block;
	font-family: "Segoe UI", Arial, sans-serif;
	margin-left: 3px;
	margin-top: -4px;
}

.control--radio input:disabled~span {
	cursor: default;
}
/******************* Form Control Radio End *******************/
