/* PrimeNG Checkbox */

.p-checkbox-stack {
	p-checkbox {
		display: block;
	}
}

p-checkbox {
	margin-right: 10px;

	.ui-chkbox-box {
		/* Unchecked State */
		font-size: 13px;
		background: $white-color;

		/* Unchecked - Not Disabled State */
		&:not(.ui-state-disabled) {
			&:not(.ui-state-active) {
				/* Unchecked - Hovered State */
				&:hover {
					background: $white-color;
					border: 1px solid $text-box-border-highlighted;
				}

				/* Unchecked - Focused State */
				&.ui-state-focus {
					@include focusDefaultOutline();

					/* Unchecked - Focused - Hovered State */
					&:hover {
						background: $white-color;
					}
				}	
			}
		}
		/* Unchecked - Disabled State */
		&.ui-state-disabled {
			background: $checkbox-disabled;
			border: none;
			color: $white-color;
		}

		/* Checked State */
    &.ui-state-active {
			background: $checkbox-checked-bg;
			border: none;
			color: $white-color;

			/* Checked - Focused State */
			&.ui-state-focus {
				background: $checkbox-checked-bg;
				border: none;
				color: $white-color;

				@include focusDefaultOutline();
			}
			/* Checked - Disabled State */
			&.ui-state-disabled {
				background: $checkbox-disabled;
				border: none;
				color: $white-color;
				opacity: 1;
			}
		}
	}

	.ui-chkbox-label {
		font-family: "Segoe UI", Arial, sans-serif;
		font-size: 13px;
		vertical-align: baseline;

		&:not(.ui-label-disabled) {
			cursor: pointer;
		}
	}
}