/* PrimeNg Common */

.ui-widget {
	font-family: Segoe UI !important;
	font-size: 13px;
}
.ui-state-default {
	color: initial;
}

.ui-state-disabled,
.ui-widget:disabled {
	opacity: 1;
}

/********* Common for Dropdown and MultiSelect Start **********/

.pi-chevron-down {
	&:before {
		content: "\e913";
	}
}

.triangle-down {
	font-family: 'primeicons';
	line-height: 1;

	&:before {
		content: "\e913";
	}
}

/********* Common for Dropdown and MultiSelect End **********/