/* Global CSS for entire project */

/********************** Focus Outline Start *************************/

button:focus {
	@include focusDefaultOutline();
}

select:focus {
	@include focusDefaultOutline();
}

p-calendar.ui-inputwrapper-focus,
.ui-state-focus:not(.ng-invalid),
.form-control:not(.ng-invalid):focus {
	@include focusDefaultOutline();
}
.form-control[readonly]:focus {
	@include disableFocus();
}

/********************** Focus Outline End *************************/

/********************** Slim ScrollBar Start *************************/
* {
  scrollbar-width: thin;
	scrollbar-color: grey #F5F5F5;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: white;
}
*::-webkit-scrollbar-thumb {
  background:grey;
  border-radius: 20px;
}

/********************** Slim ScrollBar End *************************/

/************************** Badge Start ****************************/

.badge {
  background-color: $secondary-btn-bg;
	border: 1px solid #E1E5EB;
  border-radius: 50%;
	color: $dark-blue-color;
  font-size: 74%;
}

/*************************** Badge End *****************************/

.claimsTab .ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-buttonbar button, .MultiSelectDateList .ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-buttonbar button {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}