@import '../_variables';

.label{
  position: relative;
  top: 23px;
}

.p-calander-icon-properties {
  border: none;
  background: transparent;
  color: $ui-calender-icon-color;
  position: absolute;
}

.ico {
  font-family: 'ct-webfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-hover {
  cursor: pointer;
  text-decoration: none !important;
  background: $ui-calender-date-hover-background !important;
  color: $ui-calender-date-hover-color !important;
}

.date-heading {
  background: $ui-calender-date-background !important;
	color: $ui-calender-date-header-color !important;
	padding: 4px 0px;
}

.date-active {
  background: $ui-calender-date-selected-background !important;
  color:  $ui-calender-date-selected-color !important;
}
.date-today {
  color: $ui-calender-date-today-color !important;
  background: $ui-calender-date-today-background !important;
}

.date-disabled {
  color: $ui-calender-date-disabled-color !important;
  background: $ui-calender-date-disabled-background !important;
}

.date-text-properties {
  cursor: pointer;
  background: $ui-calender-date-background;
  color: $ui-calender-date-color;
  text-decoration: none;
  font-size: 12px;
	font-weight: 600;
	padding: 3px 0px;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: #069;
  cursor: pointer;
}

.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
  color: #069;
  }

p-calendar {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.ui-calendar .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
			width:60px !important;
			font-weight: normal !important;
		}
	}
  .ui-calendar {
    //width: 100%;
    background: #F7F9FA;
    //border: 1px solid #E1E5EB;
    //padding: 0px 6px;
    //padding: 6px;

    .ui-inputtext {
      width: calc(100% - 26px);
      font-weight: 400;
      font-size: 13px;
      padding: 0px;
      background-color: white !important;
      border: 1px slid #d6d6d6 !important;
      &:disabled {
        background-color: $ui-calender-date-background-disabled !important;
        border: 1px solid $ui-calender-date-border-disabled !important;
      }
    }

    .ui-calendar-button {
      @extend .p-calander-icon-properties;
      .ico_line_calendar {
        font-size: 16px;
      }
      &:enabled{
        &:hover {
          @extend .p-calander-icon-properties;
        } 
      }
      &:enabled{
        &:active {
          @extend .p-calander-icon-properties;
        } 
      }
      &:disabled {
        background-color: $ui-calender-date-background-disabled !important;
        border: 1px solid $ui-calender-date-border-disabled !important;
      }
    }
    .ui-datepicker {
      &.ui-widget {
        &.ui-widget-content {
          .ui-widget-content {
            border: none;
            box-shadow: 0 1px 6px 0 rgba(179,186,195,0.50);
          }
          .ui-datepicker-buttonbar {
            display: block;
            
          }
        }
      }
    }

    .ui-datepicker-calendar-container {
      font-size: 12px;
      font-weight: 600;
      color: $ui-calender-date-header-color;
      .ui-datepicker-calendar {
        td {
          border: none;
        }
       a {
          @extend .date-text-properties;

          &:hover {
            @extend .date-hover;
          }

          &.ui-state-highlight {
            @extend .date-today;

            &.ui-state-active {
              @extend .date-active;
            }
          }

          &.ui-state-active {
            @extend .date-active;
          }
        }
        .ui-state-disabled {
          @extend .date-disabled;
        }
        thead {
          th {
            @extend .date-heading;
          }
        }
      }
    }

    .ui-datepicker-header {
      background: $ui-calender-date-background;
      a {
        display: none;
      }

      .ui-datepicker-title {
        display: flex;
        flex: 0 0 100%;
        padding: 0px;
        margin: 0px;


        select {
          margin: 8px;
          padding: 0px;
        }
        .ui-datepicker-month {
					width: 103px;
					height: 24px;
					padding: 0px;
        }
        .ui-datepicker-year {
					width: 56px;
					height: 24px;
					padding: 0px;
        }
      }
    }
  }
}
