/* PrimeNG Dialog */

.ui-widget-overlay {
	&.ui-dialog-mask {
		background-color: #666666;
    opacity: 0.5;
	}
}

p-dialog {
	.ui-dialog {
		&.ui-widget {
			/* Entire dialog */
			&.ui-widget-content {
				background-color: $white-color;
				border-radius: 4px;
				box-shadow: 0 3px 6px 0 rgba(128, 139, 154, 0.3);
				-moz-box-shadow: 0 3px 6px 0 rgba(128, 139, 154, 0.3);
				-webkit-box-shadow: 0 3px 6px 0 rgba(128, 139, 154, 0.3);
				font-family: "Segoe UI";
				font-size: 14px;
				min-width: 320px;
			}
		}

		/* Header content */
		.ui-dialog-titlebar {
			&.ui-widget-header {
				background: $white-color;
				padding: 10px 16px;
				border-bottom: 1px solid #e9ecef;
				box-shadow: 0 2px 10px rgba(239,242,245,.698039);
				-moz-box-shadow: 0 2px 10px rgba(239,242,245,.698039);
				-webkit-box-shadow: 0 2px 10px rgba(239,242,245,.698039);

				.ui-dialog-title {
					font-size: 16px;
					font-weight: 600;
					color: $black-color;

					.ui-dialog-titlebar-icon {
						background-color: $tertiary-btn-bg;
						color: $input-addon-icon;
						font-size: 16px;

						&:hover {
							background: none;
							border: 1px solid transparent;
							@include focusDefaultOutline();
						}
					}
				}
			}
		}

		/* Middle content */
		.ui-dialog-content {
			&.ui-widget-content {
				font-weight: 400;
				color: $pure-black-color;
				background-color: 0;
				padding: 16px;
				overflow: auto;
			}
		}

		/* Footer content */
		.ui-dialog-footer {
			&.ui-widget-content {
				border-top: 1px solid #e9ecef;
				padding: 10px 16px;
				box-shadow: 0 -2px 10px rgba(239,242,245,.698039);
				-moz-box-shadow: 0 -2px 10px rgba(239,242,245,.698039);
				-webkit-box-shadow: 0 -2px 10px rgba(239,242,245,.698039);

				button {
					&:not(:last-of-type) {
						margin-right: 10px;
					}
				}
			}
		}
	}
}