/* PrimeNG Dropdown */

p-dropdown {
	.ui-dropdown {
		background: $white-color;
		border: 1px solid #D4DDE4;
		border-radius: 0;
		color: $pure-black-color;
		height: 32px;
    min-height: 32px;
		width: 100%;

		&.ui-state-focus {
			@include focusDefaultOutline();
		}

		label {
			&.ui-dropdown-label {
				background-color: $white-color;
				border: none;
				border-radius: 0;
				color: $ui-single-dropdown-item-label;
				height: 100%;
				margin: 0px;
				padding: 5px 20px 5px 4px;
			}
		}

		&.ui-dropdown-clearable {
			label {
				&.ui-dropdown-label {
					padding-right: 31px;
				}
			}
		}

		.ui-dropdown-trigger {
			background: $white-color;
			border: none;
			margin: 3px;
			padding: 0px;
			height: 88%;
			color: $input-addon-icon;

			.ui-dropdown-trigger-icon {
				top: 36%;
			}
		}

		.ui-dropdown-clear-icon {
			right: 1.5em;
		}

		.ui-dropdown-panel {
			.ui-dropdown-filter-container {
				.ui-dropdown-filter {
					background-color: $dropdown-search-bg;
					border: 1px solid $splashed-white;
					height: 24px;
					padding-right: 25px;
				}
			}
			
			&.wrap-text {
				.ui-dropdown-item {
					white-space: normal;	
				}
			}

			.ui-dropdown-item {
				font-size: 12px;
				font-weight: $xlbold;
				overflow-x: hidden;
				overflow-y: auto;
				white-space: nowrap;

				&:not(.ui-state-highlight) {
					&:not(.ui-state-disabled) {
						&:hover {
							background-color: $ui-dropdown-hover-bg;
							color: $ui-dropdown-item-list-selected;
							font-weight: 600;
						}
					}
				}
				&.ui-state-highlight {
					background: $white-grey-black;
					color: $black-color;
				}
			}
		}
	}
	.ui-state-disabled {
		label {
			&.ui-dropdown-label {
				background-color: $disabled-bg-gray;
			}
		}
		.ui-dropdown-trigger {
			background-color: $disabled-bg-gray;
		}
	}
	&.error-dropdown {
		.ui-dropdown {
			border: 1px solid $standard-error !important;
		}
	}
}