/* PrimeNG MultiSelect */

p-multiSelect{
	.ui-multiselect {
		background: $white-color;
		border: 1px solid #D4DDE4;
		border-radius: 0;
		color: $pure-black-color;
		line-height: 1.8em;
		width: 100%;

		// MRR-19787 IE Compatability fix: Added line height property in pixels to remove the extra padding
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height: 19px !important;
		}

		&.ui-state-focus {
			border-bottom: 1px solid $light-blue-color;
			box-shadow: none;
		}
		&.ui-state-disabled {
			background-color: $disabled-bg-gray;
			border: 1px solid $text-box-border-disabled;
			opacity: 1 !important;

			.ui-multiselect-label-container {
				.ui-multiselect-label {
					background-color: $text-box-bg-disabled;
					color: $pure-black-color;
					font-size: 13px;
					padding-bottom: 0.35em;
				}
			}

			.ui-multiselect-trigger {
				background-color: $disabled-bg-gray;
			}
		}

		&.ui-multiselect-open {
			border-color: #3788e5 !important;
		}

		.ui-multiselect-label-container {
			height: 31px;
			white-space: nowrap;

			.ui-multiselect-label {
				border-bottom: 0px;
				color: $light-gray-color;
				color: $ui-dropdown-item-list;
				font-weight: normal;
				padding-right: 35px;

				.ui-multiselected-item-token {
					display: inline-block;
					width: 100%;

					span {
						display: inline-block;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.selected-items-list {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 175px;
					}
				}
			}
		}

		.ui-multiselect-trigger {
			border: none;

			.ui-multiselect-trigger-icon {
				color: #718fb6;
				top: 40%;
			}
		}

		.ui-multiselect-panel {
			min-width: 100%;
			max-width: 500px;
			top: 32px !important;
			z-index: 1;

			.ui-multiselect-header {
				// For p-multiselect, if select-all checkbox is turned off then input text width should be 100%
				.ui-multiselect-header.ui-multiselect-header-no-toggleall .ui-multiselect-filter-container {
					width: 100%;
				}

				.ui-chkbox .ui-chkbox-box {
					border: 1px solid $dialog-header-font-color;
					background: $white-color;
					color: $sky-blue;

						&.ui-state-active {
							background: $checkbox-checked-bg;
							border: none;
							color: $white-color;
						}
				}

				.ui-multiselect-filter-container {
					float: right;
					width: calc(100% - 20px);

					.ui-inputtext {
						background-color: $white-color;
						border: none !important;
						border-radius: 3px;
						height: inherit;
						line-height: inherit;
						opacity: inherit;
						overflow: visible;
						padding: .125em 1.50em .125em 0em;
						text-overflow: initial;
						white-space: inherit;

						&:hover,
						&:focus {
							outline: none;
							box-shadow: none;
						}
					}

					.ui-multiselect-filter-icon {
						left: auto;
						right: .125em;
						top: .50em;

						// MRR-19787 IE Compatability fix: Added top property in pixels for aligning the search icon in IE
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
							top: 4px !important;
						}
					}
				}

				.ui-multiselect-close {
					display: none;
				}
			}

			.ui-multiselect-items-wrapper {
				.ui-multiselect-items {
					.ui-multiselect-item {
						color: $ui-dropdown-item-list;
						font-family: "Segoe UI", Arial, sans-serif !important;
						font-size: 12px;
						font-weight: 600;
						margin-left: 1px;
						white-space: normal;
						width: 98%;

						&:not(.ui-state-highlight) {
							&:not(.ui-state-disabled) {
								&:hover {
									background-color: $ui-dropdown-hover-bg;
									color: $ui-dropdown-item-list-selected;
								}
								&:focus {
									@include focusDefaultOutline();
								}
							}
						}

						&.ui-state-highlight {
							background: $ui-dropdown-hover-bg;
							border: none;
							color: $ui-dropdown-item-list-selected;
							font-weight: 600;

							&:focus {
								@include focusDefaultOutline();
							}
						}

						// do not merge with below span.
						// this is for all span elements.
						span {
							display: block;
						}

						// this is for child span element only
						& > span {
							color: $ui-dropdown-item-list !important;
							display: block;
							font-family: "Segoe UI" !important;
							font-size: 13px !important;
							font-weight: 600 !important;
							padding-left: 18px;
						}

						.ui-chkbox {
							&.ui-widget {
								float: left;

								.ui-chkbox-box {
									border: 1px solid #797979;
									background: $white-color;
									color: $sky-blue;

									&.ui-state-active {
										background: $checkbox-checked-bg;
										border: none;
										color: $white-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.error-multiselect {
		.ui-multiselect {
			border: 1px solid $standard-error !important;
		}
	}
}
